<?xml version="1.0"?>
<!--
/**
 * @category	Smartwave
 * @package		Smartwave_Smartwave
 * @author		EternalFriend
 * @copyright	Copyright 2014 Smartwave
 */
-->
<config>
    <modules>
        <Ndx_Catalog>
            <version>0.0.1</version>
        </Ndx_Catalog>
    </modules>    	
    <global>
        <blocks>
            <catalog>                
                <rewrite>
                    <product_list_toolbar>Ndx_Catalog_Block_Product_List_Toolbar</product_list_toolbar>
                </rewrite>                    
            </catalog>
        </blocks>
        
    </global>
</config>