.featuredcategory_list_head
{
	/*border-bottom:1px solid #CCC;*/
	padding-bottom:5px;
    color:#333333;
    font-size: 2.5em;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 0 5px;
    line-height: 1;
    display: inline-block;
    font-family: 'league_gothicregular', Helvetica, Arial, sans-serif;
}

#featured_list
{
	line-height:30px;
	padding-top:30px;
}

#featured_list li
{
	width:30%;
	margin-left:2%;
	float:left;

}
#featuredcategory_char_filter
{
	text-align:left;
	margin:0 0 0 15px;
}

#featuredcategory_char_filter li
{
	display:inline;
	margin-right:5px;
	font-weight:bold;
}
#featured_category li
{
	display:inline;
	margin-right:0;
}

#featured_category li a img
{
	margin-top:10px;
}

/* by Hai Ta */

#featured_list{
    float: left;
    border-bottom : 1px solid #CCC;
    padding-bottom: 5px;
}

.featuredcategory-by-magestore{
    float: right;
    font-size: 10px;
    padding-top: 3px;
}